body{
  font-family: 'Open Sans', sans-serif;
 
}

.card {
  padding: 2em;
  max-width: 420px;
}

.weather-border {
  border-bottom: solid blue 2px;
  display: inline;
}

#first {
  float: left;
}

#second {
  overflow:auto;
  border: solid black 1px;
  padding: 20px;
 
}

.flex {
  display: flex;
  align-items: center;
}

 

